<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="User/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card mt-5">
						<div class="card-body" >
							<div>
								<h3 class="text-center">
									Welcome <span th:text="${user.name}"></span>
								</h3>
							</div>
							<div class="text-center">

								<img th:src="@{/img/contact.png}">
							</div>

						</div>
						<h3 class="text-center">Add Your Contacts to our Cloud...</h3>
						<div>
						<a class="btn btn-primary btn-block mt-3"
							th:href="@{/users/add-contact}">Add Contacts</a>
						<h3 class="my-2 text-center">Donate Us</h3>
					<input id="payment_field" type="text" class="form-control " required="required" placeholder="Enter amount here">
					<div class="container my-3">
					<a class="btn btn-success btn-block" onclick="paymentStart()" >Pay</a>
					
					</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>