<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link th:href="@{/Css/bootstrap.min.css/}" rel="stylesheet">
	<!--  css -->
	<link th:href="@{/Css/style.css}" rel="stylesheet"/>
	
	<script type="text/javascript" th:src="@{/Js/bootstrap.min.js/}"></script>
	
    <title th:text=${title}>Base</title>
  </head>
  <body>
  	<!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="">Smart Contact Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto text-uppercase">
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" th:href="@{/}">Home</a></li>
				<li class="nav-item"><a class="nav-link active"
					th:href="@{/signin/}">Login</a></li>


				<li class="nav-item"><a class="nav-link active"
					th:href="@{/signup/}">Signup</a></li>
				<li class="nav-item"><a class="nav-link active"
					th:href="@{/about/}">About Us</a></li>
			</ul>
		</div>
	</nav>
	<!-- end of navbar -->

	<!-- main Content -->
	<div th:replace="${content}"></div>



	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    
   
    
    
  </body>
</html>